 /* This is the InformationHeader.css file for CS 3744 Final Project - Summer 2025.

      InformationHeader.css holds the styling logic for the header of the website's information.
      The application provides information to the user on 1. how to run the application & 2. how
      to calculate their GPAs by hand. The goal of this is to educate users on how to do so, 
      enabling them to do it independently in the future in case of minimal access to assistive
      technology.

      Course: CS 3744
      Assignment: Final Project
      Author: emilyk77 */

/* general styling */
.infoHeader {
    text-align: center;
}

/* title styling */
.infoHeaderTitle {
    color: rgb(77,77,77);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
}