/* This is the CourseInput.css file for CS 3744 Summer 2025 Final Project.

    This file contains styling code in css for the CourseInput.js file.
    This file aims to enhance usability in the course input, allowing 
    users to easily enter their course information. The choosen styling methods 
    look to make the inputs easy to understand and minimize user
    error.
    
    Course: CS 3744
    Assignment: Final Project
    Author: emilyk77 
*/

/* general styling */
.courseInput {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 32px;
}

/* handles the input styling */
.courseInput input {
    text-align: right;
    height: 30px;
    width: 180px;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(220,220,220);
    border-color: rgb(77,77,77);
    border-width: 2px;
}

/* handles the dropdown grade styling */
.courseInput select {
    height: 35.5px;
    width: 180px;
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    padding: 0 5px;
    background-color: rgb(220,220,220);
    border-color: rgb(77,77,77);
    border-width: 2px;
}

/* handles the remove button styling */
.courseInput button {
    background-color: rgb(77,77,77);
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
    height: 34px;
    width: 100px;
    border-width: 2px;
    border-radius: 2px;
}

/* creates a hover for the button, so when it is hovered over the text turns black*/
.courseInput button:hover {
    background-color: rgb(77,77,77);
    color: black;
    transition: color 0.2s ease;
}