 /* This is the App.css file for CS 3744 Final Project - Summer 2025.

      App.css holds the logic for the header of the website

      Course: CS 3744
      Assignment: Final Project
      Author: emilyk77 */

/* handles the body styling
Background color: orange */
body {
  height: 100%;
  background-color: rgb(212, 254, 255);
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .content{
  display: flex;
  flex: 1;
}

.App .content .left {
  flex: 2;
  display: inline-block;
  border-right: 2px solid rgb(77,77,77);
}

.App .content .right {
  flex: 1;
}

.App .content .left .buttons {
  display: flex;
  justify-content: center;
}